/*### Task 2: Minimum Viable Product

Once your repository is set up, practice what you learned today to style the site according to the given design. Your complete project should look similar to the desktop image. You should take the following actions, at a minimum:

- [x] Link your CSS stylesheet in the `index.html` and implement a CSS reset 
- [x] Markup html semantically, such that it can be styled according to the given desktop image
- [x] Color the background of items in the navigation bar and footer with the following colors:
  - [x] Plan your Visit: `#FF764E`
  - [x] Learn About the Park: `#5ED3EB`
  - [x] Get Involved: `#FFCD69`
- [x] Change all font colors and styles according to design file
  - [x] Yosemite Park Guide font is called Chelsea Market and can be found on [google fonts](https://fonts.google.com/specimen/Chelsea+Market)
  - [x] All other text is Roboto Mono, also available on [google fonts](https://fonts.google.com/specimen/Roboto+Mono)
- [x] Color the background of the main text body with `#DDB9A3`
- [x] Color the background of the footer with `#F9E7DC`
- [x] Bold the words "current fire restrictions" and "park entrance fee" according to the design file
- [ ] Apply box model properties (content, padding, margin, and border) to all content such that your webpage matches the design file. This will include at least:
  - [ ] A round image in the header
  - [ ] Round corners on navigation and footer items
  - [ ] Header image and text side by side
  - [ ] Centered content and margins around content
  - [ ] Footer image positioning

**Throughout your design you should avoid static units (pixels), and should instead use responsive units wherever possible.**
*/

/* CSS Reset */
        html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
        del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
        h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
        dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
            vertical-align: baseline;
            font-family: inherit;
            font-weight: inherit;
            font-style: inherit;
            font-size: 100%;
            outline: 0;
            padding: 0;
            margin: 0;
            /* border: 0; removed due to Instructor preferences*/
            }
        /* remember to define focus styles! */
        :focus {
            outline: 0;
            }
        /*removed per Brit instructions     
        body {
            background: white;
            line-height: 1;
            color: black;
            } */

        ol, ul {
            list-style: none;
            }
        /* tables still need cellspacing="0" in the markup */
        table {
            border-collapse: separate;
            border-spacing: 0;
            }
        caption, th, td {
            font-weight: normal;
            text-align: left;
            }
        /* remove possible quote marks (") from <q> & <blockquote> */
        blockquote:before, blockquote:after, q:before, q:after {
            content: "";
            }
        blockquote, q {
            quotes: "" "";
            }
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            max-width: 100%
        } /* <-- this last piece Brit Hemming Preferred Start */


/* General Styles per Brit Hemming */
html{
    font-size:62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: #4f4f4f;
    margin: 10px;
}

h1 {
    font-size: 30px;
    font-family: 'Chelsea Market', cursive;
}

a {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

span {
    font-weight: bold;
}

section{
    padding:4% 0;
}


/* finished fonts */

/* Header */
/* .navcontainer {
    border: goldenrod 10px solid;
} */
nav {
    width: 100%;
    margin: 5%;

}
nav a{
    display:inline-block;
    margin-left: 5%;
    Margin-right: 5%;
    min-width: 130px;
    width: 10%;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}
/* Color the background of items in the navigation bar and footer with the following colors: */
.orange {
    background-color: #FF764E;
}

.blue {
    background-color: #5ED3EB;
    margin-left:5%;
    margin-right: 5%;
}

.yellow {
    background-color: #FFCD69;
}
/*End Header*/

/* Picture and Title */
.titles {
    text-align: center;
    position: relative;
    border: green 10px solid;
}

.left, .right {
    display: inline-block;
}

.left {
    width:30%;
    margin-left:5%
}

.left img {
    border-radius: 50%;
}

.right {
    width: 55%;
    margin-left: 5%
}

.right div{
    position: absolute;
    top: 15%;
    padding-right: 5%;
    border: green 1px solid;

}

/* to color the block peach */
.pinkblock {
    background-color: #DDB9A3;
    padding: 1em;
    margin: 0 20px;
    color: white;
}

/* Isolating icons with paragraphs */
.fire   {
    border: blue 10px solid;
    display: inline-block;
    justify-content: center;
    align-content: center;
}

.reservations   {
    border: red 10px solid;
}

.fire p, .reservations p {
    border: red 10px solid;
    max-width: 40%;
    display: block;
    margin: 0 30%;
}

/*shrinking picture size */
.fire img, .reservations img {
    max-width: 20%;
    max-height: auto%;
}


/* Footer */
#footerimage {
    width: 100%;
    height: 200px;
    background-image: url("assets/footer_img.jpg");
    background-size: 100% 100%;

}